.productCard {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
}

.outOfStockClass {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
  opacity: 0.5;
  background-color: #f0f0f0;
}